form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 300px;
}
label,
input,
button {
  margin-left: 10px;
  padding: 5px;
}
input {
  width: 150px;
}
.form-input {
  width: 100px;
  display: flex;
}
.form-input label {
  min-width: 50px;
  margin: 10px;
}
.form-input input {
  margin: 10px;
}
.addBookBtn {
  width: 100px;
  margin-top: 10px;
}
.all-books {
  width: 300px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}
